<div class="errors"></div>
<ul class="list-group board-list text-center col-xs-6 col-xs-offset-3">
  <form class="list-group-item">
    <input id="board-title" type="text" name="board[title]">
    <button type="submit" class="">Create new board</button>
  </form>
</ul>
