.list.list-group-item {
  margin: 10px;
  min-height: 75px
}

.list {
  display: block;
  float: left;
  width: 200px;
  background: #e2e4e6;
}

li.list .header {
  margin:15px;

}
li.list .header {
  margin-bottom:25px;
}

button.bnt-danger {
  margin:35px;
}

.list-header {
  font-size: 15px;
  font-weight: bold;
}
