.list.list-group-item {
  margin: 10px;
  min-height: 75px
}

.list {
  display: block;
  float: left;
  width: 200px;
}

li.list .header {
  margin:15px;

}
li.list .header {
  margin-bottom:25px;
  button {
    margin-bottom:35px;
  }
}
